@import "../style/extends.css";

button {
  background-color: var(--terciary-color);
  border: none;
  font-size: 1rem;
  color: white;
  padding: 0.4rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}