@import '../style/extends.css';

.admin-categories{
    margin: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 750px;
}

.title{
    font-family: 'baloo2';
    font-size: 13px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color:rgba(255, 255, 255, 1);
    padding: 0.5rem;
    border-radius: 20px 20px 0 0;
    z-index:0;
    height: 60px;
}

.categories{
    padding: 1rem;
    display: flex;
    position: relative;
    justify-content:space-between;
    top: -1.1rem;
    background-color: rgba(156, 156, 156);
    border-radius: 20px 20px 20px 20px;
}

button{
    position: relative;
    font-family:'baloo2';
    height: 2.5rem;
    width: 14.5rem;
    background-color: var(--off-white);
    color: rgb(15, 15, 15);
    border-radius: 12px
}