@import '../style/extends.css';

.profile-icon{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #c9c9c9;
    border-radius: 40%;
}

.profile-icon img {
    height: 50px;
    object-fit: cover;
    align-items: center;
}