@font-face{
    font-family: "baloo2";
    src: url('/fonts/Baloo2-VariableFont_wght.ttf')
 }
 @font-face{
    font-family: "intro";
    src: url('/public/fonts/Intro.otf')
 }

* {
    padding: 0;
    margin: 0;
}