.container {
    display: flex;
    flex-direction: column;
    height: 7rem;
    width: 4rem;
    align-items: center;
    text-align: center;
}

.box {
    height: 2rem;
    width: 2rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: brown;
    border-radius: 1rem;
}